link(href='../css/main.css', media='all', rel='stylesheet', type='text/css', inline='true')

mixin module(category, type)
  - if (category.options.length > 0) {
      div(class=['module', 'sharedCategory', category.class])
        if(type == 'share')
          span.dingbats-misc-corner-flag.mobile-share-icon
          span.dingbats-misc-rounded-check.mobile-share-icon
        div.module-icon
          span(class=['dingbats-'+category.class, 'pp-icon'])
        - if (type == 'share') {
          h3.module-title.dingbats-misc-rounded-check.pp-desktop-show= category.name
            span.dingbats-misc-play.pp-triangle
          h3.module-title.mobile-title.pp-mobile-show= category.name
          div.module-definition.pp-hide-this
            p= category.description
        - }
        - else {
          h3.module-title.pp-desktop-show= category.name
          h3.module-title.mobile-title.pp-mobile-show= category.name
        - }
        div.module-options-list
          ul
            - if (category.options.length > 0){
                each item in category.options
                  li!= item
            - }
            - else{
                p!= category.emptyText
            - }
  - }
  - else {
      div(class=['module', 'nonShared', category.class])
        if(type == 'share')
          span.dingbats-misc-corner-flag.mobile-share-icon.not-sharing
          span.dingbats-misc-rounded-x.mobile-share-icon
        div.module-icon
          span(class=['dingbats-'+category.class, 'pp-icon'])
        - if (type == 'share') {
        h3.module-title.dingbats-misc-rounded-x.pp-desktop-show= category.name
          span.dingbats-misc-play.pp-triangle
        h3.module-title.mobile-title.pp-mobile-show= category.name
        div.module-definition.pp-hide-this
          p= category.description
        - }
        div.module-options-list
          ul
            - if (category.options.length > 0){
                each item in category.options
                  li!= item
            - }
            - else{
                p!= category.emptyText
            - }
  - }

mixin mobileModuleCollect(category, type)
  div(class=['mobileModule', category.class, 'pp-hide-detail'])
    div.module-header.clearfix
      if(type == "collect")
        div.info-button-spacer
      h3.module-title= category.name
      div.module-definition.pp-hide-this
        p= category.description
      div.module-close.dingbats-misc-x
    div.module-options-list
      ul
        h4 Data Collected
        - if (category.options.length > 0){
            each item in category.options
              li!= item
        - }
        - else{
            p!= category.emptyText
        - }
    div.module-footer-nav
      ul.clearfix
        each category in collected
          li
            - if (category.options.length > 0) {
              span(class=['dingbats-'+category.class, 'shared', 'pp-footer-icon'], data-attr=category.class)
            - }
            - else {
              span(class=['dingbats-'+category.class, 'pp-footer-icon'], data-attr=category.class)
            - }

mixin mobileModuleShare(category)
  - if (category.options.length > 0) {
    div(class=['mobileModule', 'sharedCategory', category.class, 'pp-hide-detail'])
      div.module-header.clearfix
        div.pp-info-button.dingbats-misc-rounded-info
        h3.module-title= category.name
        div.module-definition.pp-hide-this
          p= category.description
        div.module-close.dingbats-misc-x
      div.module-options-list
        ul
          h4 Data Shared
          - if (category.options.length > 0){
              each item in category.options
                li!= item
          - }
          - else{
              p!= category.emptyText
          - }
      div.module-footer-nav
        ul.clearfix
          each category in shared
            li
              - if (category.options.length > 0) {
                span(class=['dingbats-'+category.class, 'shared', 'pp-footer-icon'], data-attr=category.class)
              - }
              - else {
                span(class=['dingbats-'+category.class, 'pp-footer-icon'], data-attr=category.class)
              - }
  - }
  - else {
    div(class=['mobileModule', category.class, 'pp-hide-detail'])
        div.module-header.clearfix
          div.pp-info-button.dingbats-misc-rounded-info
          h3.module-title= category.name
          div.module-definition.pp-hide-this
            p= category.description
          div.module-close.dingbats-misc-x
        div.module-options-list
          ul
            h4 Data Shared
            - if (category.options.length > 0){
              each item in category.options
                li!= item
            - }
            - else{
              p!= category.emptyText
            - }
        div.module-footer-nav
          ul.clearfix
            each category in shared
              li
                - if (category.options.length > 0) {
                  span(class=['dingbats-'+category.class, 'shared', 'pp-footer-icon'], data-attr=category.class)
                - }
                - else {
                  span(class=['dingbats-'+category.class, 'pp-footer-icon'], data-attr=category.class)
                - }
  - }

div.pp-desktop-show
  section#collected
    div.clearfix
      each option in pageOptions
        h2!= option.collectedSectionHeader
      div.module-row.clearfix
      - var count = 0;
      each category in collected
        - count++
        +module(category, 'collect')
        if count % 3 == 0
          div.module-row.clearfix

  section#shared.clearfix
    div.clearfix
      each option in pageOptions
        h2!= option.sharedSectionHeader
      div.module-row.clearfix
      - var count = 0;
      each category in shared
        - count++
        +module(category, 'share')
        if count % 3 == 0
          div.module-row.clearfix

div.pp-mobile-show
  section#collected.clearfix
    div.clearfix
      each option in pageOptions
        h2!= option.collectedSectionHeader
      p Click below to learn more.
      div.module-row.clearfix
        each category in collected
          +module(category, 'collect')
          +mobileModuleCollect(category, 'collect')

  section#shared.clearfix
    div.clearfix
      each option in pageOptions
        h2!= option.sharedSectionHeader
      div.module-row.clearfix.share
        each category in shared
          +module(category, 'share')
          +mobileModuleShare(category, 'share')

script(src='../../assets/js/js.min.js')
script(src='../../assets/js/custom.js')
